In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score

In [2]:
X_train = pd.read_csv("X_train.csv", index_col="Index")
y_train = pd.read_csv("y_train.csv")
X_test = pd.read_csv("X_test.csv", index_col="Index")

In [3]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105782 entries, 1 to 105782
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Share                       105782 non-null  object
 1   Day                         105782 non-null  object
 2   Trader                      105782 non-null  object
 3   OTR                         104099 non-null  float64
 4   OCR                         105782 non-null  float64
 5   OMR                         58170 non-null   float64
 6   min_time_two_events         105782 non-null  float64
 7   mean_time_two_events        105782 non-null  float64
 8   10_p_time_two_events        105782 non-null  float64
 9   med_time_two_events         105782 non-null  float64
 10  25_p_time_two_events        105782 non-null  float64
 11  75_p_time_two_events        105782 non-null  float64
 12  90_p_time_two_events        105782 non-null  float64
 13  max_time_two_events         105782 non-null  float64
 14  min_lifetime_cancel         105782 non-null  float64
 15  mean_lifetime_cancel        105782 non-null  float64
 16  10_p_lifetime_cancel        105782 non-null  float64
 17  med_lifetime_cancel         105782 non-null  float64
 18  25_p_lifetime_cancel        105782 non-null  float64
 19  75_p_lifetime_cancel        105782 non-null  float64
 20  90_p_lifetime_cancel        105782 non-null  float64
 21  max_lifetime_cancel         105782 non-null  float64
 22  NbTradeVenueMic             105782 non-null  int64
 23  MaxNbTradesBySecond         105782 non-null  int64
 24  MeanNbTradesBySecond        105782 non-null  float64
 25  min_dt_TV1                  101547 non-null  float64
 26  mean_dt_TV1                 101547 non-null  float64
 27  med_dt_TV1                  101547 non-null  float64
 28  min_dt_TV1_TV2              80606 non-null   float64
 29  mean_dt_TV1_TV2             80606 non-null   float64
 30  med_dt_TV1_TV2              80606 non-null   float64
 31  min_dt_TV1_TV3              80527 non-null   float64
 32  mean_dt_TV1_TV3             80527 non-null   float64
 33  med_dt_TV1_TV3              80527 non-null   float64
 34  min_dt_TV1_TV4              80634 non-null   float64
 35  mean_dt_TV1_TV4             80634 non-null   float64
 36  med_dt_TV1_TV4              80634 non-null   float64
 37  NbSecondWithAtLeatOneTrade  105782 non-null  int64
dtypes: float64(32), int64(3), object(3)
memory usage: 31.5+ MB

In [4]:
X_train.drop_duplicates(inplace=True)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86074 entries, 1 to 105782
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Share                       86074 non-null  object
 1   Day                         86074 non-null  object
 2   Trader                      86074 non-null  object
 3   OTR                         84445 non-null  float64
 4   OCR                         86074 non-null  float64
 5   OMR                         48124 non-null  float64
 6   min_time_two_events         86074 non-null  float64
 7   mean_time_two_events        86074 non-null  float64
 8   10_p_time_two_events        86074 non-null  float64
 9   med_time_two_events         86074 non-null  float64
 10  25_p_time_two_events        86074 non-null  float64
 11  75_p_time_two_events        86074 non-null  float64
 12  90_p_time_two_events        86074 non-null  float64
 13  max_time_two_events         86074 non-null  float64
 14  min_lifetime_cancel         86074 non-null  float64
 15  mean_lifetime_cancel        86074 non-null  float64
 16  10_p_lifetime_cancel        86074 non-null  float64
 17  med_lifetime_cancel         86074 non-null  float64
 18  25_p_lifetime_cancel        86074 non-null  float64
 19  75_p_lifetime_cancel        86074 non-null  float64
 20  90_p_lifetime_cancel        86074 non-null  float64
 21  max_lifetime_cancel         86074 non-null  float64
 22  NbTradeVenueMic             86074 non-null  int64
 23  MaxNbTradesBySecond         86074 non-null  int64
 24  MeanNbTradesBySecond        86074 non-null  float64
 25  min_dt_TV1                  81964 non-null  float64
 26  mean_dt_TV1                 81964 non-null  float64
 27  med_dt_TV1                  81964 non-null  float64
 28  min_dt_TV1_TV2              61302 non-null  float64
 29  mean_dt_TV1_TV2             61302 non-null  float64
 30  med_dt_TV1_TV2              61302 non-null  float64
 31  min_dt_TV1_TV3              61238 non-null  float64
 32  mean_dt_TV1_TV3             61238 non-null  float64
 33  med_dt_TV1_TV3              61238 non-null  float64
 34  min_dt_TV1_TV4              61352 non-null  float64
 35  mean_dt_TV1_TV4             61352 non-null  float64
 36  med_dt_TV1_TV4              61352 non-null  float64
 37  NbSecondWithAtLeatOneTrade  86074 non-null  int64
dtypes: float64(32), int64(3), object(3)
memory usage: 25.6+ MB

In [5]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85304 entries, 1 to 85304
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Share                       85304 non-null  object
 1   Day                         85304 non-null  object
 2   Trader                      85304 non-null  object
 3   OTR                         83726 non-null  float64
 4   OCR                         85304 non-null  float64
 5   OMR                         46781 non-null  float64
 6   min_time_two_events         85304 non-null  float64
 7   mean_time_two_events        85304 non-null  float64
 8   10_p_time_two_events        85304 non-null  float64
 9   med_time_two_events         85304 non-null  float64
 10  25_p_time_two_events        85304 non-null  float64
 11  75_p_time_two_events        85304 non-null  float64
 12  90_p_time_two_events        85304 non-null  float64
 13  max_time_two_events         85304 non-null  float64
 14  min_lifetime_cancel         85304 non-null  float64
 15  mean_lifetime_cancel        85304 non-null  float64
 16  10_p_lifetime_cancel        85304 non-null  float64
 17  med_lifetime_cancel         85304 non-null  float64
 18  25_p_lifetime_cancel        85304 non-null  float64
 19  75_p_lifetime_cancel        85304 non-null  float64
 20  90_p_lifetime_cancel        85304 non-null  float64
 21  max_lifetime_cancel         85304 non-null  float64
 22  NbTradeVenueMic             85304 non-null  int64
 23  MaxNbTradesBySecond         85304 non-null  int64
 24  MeanNbTradesBySecond        85304 non-null  float64
 25  min_dt_TV1                  80987 non-null  float64
 26  mean_dt_TV1                 80987 non-null  float64
 27  med_dt_TV1                  80987 non-null  float64
 28  min_dt_TV1_TV2              64150 non-null  float64
 29  mean_dt_TV1_TV2             64150 non-null  float64
 30  med_dt_TV1_TV2              64150 non-null  float64
 31  min_dt_TV1_TV3              64039 non-null  float64
 32  mean_dt_TV1_TV3             64039 non-null  float64
 33  med_dt_TV1_TV3              64039 non-null  float64
 34  min_dt_TV1_TV4              63971 non-null  float64
 35  mean_dt_TV1_TV4             63971 non-null  float64
 36  med_dt_TV1_TV4              63971 non-null  float64
 37  NbSecondWithAtLeatOneTrade  85304 non-null  int64
dtypes: float64(32), int64(3), object(3)
memory usage: 25.4+ MB

In [6]:
X_test.drop_duplicates(inplace=True)
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69167 entries, 1 to 85304
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Share                       69167 non-null  object
 1   Day                         69167 non-null  object
 2   Trader                      69167 non-null  object
 3   OTR                         67750 non-null  float64
 4   OCR                         69167 non-null  float64
 5   OMR                         38848 non-null  float64
 6   min_time_two_events         69167 non-null  float64
 7   mean_time_two_events        69167 non-null  float64
 8   10_p_time_two_events        69167 non-null  float64
 9   med_time_two_events         69167 non-null  float64
 10  25_p_time_two_events        69167 non-null  float64
 11  75_p_time_two_events        69167 non-null  float64
 12  90_p_time_two_events        69167 non-null  float64
 13  max_time_two_events         69167 non-null  float64
 14  min_lifetime_cancel         69167 non-null  float64
 15  mean_lifetime_cancel        69167 non-null  float64
 16  10_p_lifetime_cancel        69167 non-null  float64
 17  med_lifetime_cancel         69167 non-null  float64
 18  25_p_lifetime_cancel        69167 non-null  float64
 19  75_p_lifetime_cancel        69167 non-null  float64
 20  90_p_lifetime_cancel        69167 non-null  float64
 21  max_lifetime_cancel         69167 non-null  float64
 22  NbTradeVenueMic             69167 non-null  int64
 23  MaxNbTradesBySecond         69167 non-null  int64
 24  MeanNbTradesBySecond        69167 non-null  float64
 25  min_dt_TV1                  65314 non-null  float64
 26  mean_dt_TV1                 65314 non-null  float64
 27  med_dt_TV1                  65314 non-null  float64
 28  min_dt_TV1_TV2              48847 non-null  float64
 29  mean_dt_TV1_TV2             48847 non-null  float64
 30  med_dt_TV1_TV2              48847 non-null  float64
 31  min_dt_TV1_TV3              48776 non-null  float64
 32  mean_dt_TV1_TV3             48776 non-null  float64
 33  med_dt_TV1_TV3              48776 non-null  float64
 34  min_dt_TV1_TV4              48746 non-null  float64
 35  mean_dt_TV1_TV4             48746 non-null  float64
 36  med_dt_TV1_TV4              48746 non-null  float64
 37  NbSecondWithAtLeatOneTrade  69167 non-null  int64
dtypes: float64(32), int64(3), object(3)
memory usage: 20.6+ MB

In [7]:
X_train.head()

,Share,Day,Trader,OTR,OCR,OMR,min_time_two_events,mean_time_two_events,10_p_time_two_events,med_time_two_events,...,min_dt_TV1_TV2,mean_dt_TV1_TV2,med_dt_TV1_TV2,min_dt_TV1_TV3,mean_dt_TV1_TV3,med_dt_TV1_TV3,min_dt_TV1_TV4,mean_dt_TV1_TV4,med_dt_TV1_TV4,NbSecondWithAtLeatOneTrade
Index,,,,,,,,,,,,,,,,,,,,,
1,Isin_8,Date_24,Trader_10,2.272727,8.333333,12.500000,0.0,5117.830300,0.000000,419.688500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2,Isin_87,Date_29,Trader_10,1.696629,25.166667,21.571429,0.0,1846.968401,0.000074,0.003374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
3,Isin_87,Date_23,Trader_10,1.482759,47.300000,118.250000,0.0,686.300630,0.000071,0.000599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63
4,Isin_12,Date_11,Trader_10,1.705882,14.500000,29.000000,0.0,2174.335265,0.000000,6.152666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
5,Isin_87,Date_9,Trader_10,1.517730,26.750000,NaN,0.0,944.008551,0.000071,0.001364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38

In [8]:
X_train.describe()

,OTR,OCR,OMR,min_time_two_events,mean_time_two_events,10_p_time_two_events,med_time_two_events,25_p_time_two_events,75_p_time_two_events,90_p_time_two_events,...,min_dt_TV1_TV2,mean_dt_TV1_TV2,med_dt_TV1_TV2,min_dt_TV1_TV3,mean_dt_TV1_TV3,med_dt_TV1_TV3,min_dt_TV1_TV4,mean_dt_TV1_TV4,med_dt_TV1_TV4,NbSecondWithAtLeatOneTrade
count,84445.000000,86074.000000,48124.000000,86074.000000,86074.000000,86074.000000,86074.000000,86074.000000,86074.000000,86074.000000,...,61302.000000,61302.000000,61302.000000,61238.000000,61238.000000,61238.000000,61352.000000,61352.000000,61352.000000,86074.000000
mean,32.346457,19.042374,176.012051,95.913568,2631.838362,114.148185,962.391263,251.376997,4210.696394,8881.408372,...,369.617222,693.199639,470.129230,385.351739,698.894907,483.501603,383.546857,709.166783,483.444480,295.189395
std,137.041090,78.823869,1000.315633,1597.127673,4872.048635,1666.481302,4801.519293,2410.145876,9575.023991,13442.732129,...,2103.308444,2228.981050,2113.963774,2151.528005,2254.640399,2157.959406,2134.747946,2257.561682,2143.907147,598.476189
min,1.044444,2.000000,1.001960,0.000000,0.000065,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000001,0.000002,0.000001,0.000001,0.000003,0.000002,0.000001,0.000008,0.000003,1.000000
25%,3.451613,2.819390,3.732570,0.000000,63.576481,0.000000,1.082370,0.000020,21.030420,108.986442,...,0.000006,40.430191,4.933250,0.000007,39.954081,4.991631,0.000029,40.764153,5.123669,19.000000
50%,6.227273,5.352158,18.750000,0.000000,238.445440,0.000084,10.060561,0.068562,107.800300,406.287595,...,0.001000,129.166022,31.707000,0.001000,129.475282,32.833173,0.001000,131.004460,32.445670,80.000000
75%,20.286667,17.940357,84.000000,0.000000,3504.897269,0.007348,61.582020,2.941342,1839.829550,17683.567750,...,0.393793,424.824646,159.428461,1.045295,428.868542,164.314484,1.333019,435.634114,164.489500,293.000000
max,17561.000000,14409.000000,127861.000000,52568.766000,52568.765625,52568.766000,52568.766000,52568.766000,60597.414000,60609.660000,...,30904.835000,30904.835000,30904.835000,30904.835000,30904.835000,30904.835000,30904.835000,30904.835000,30904.835000,12966.000000

In [9]:
# NaN in these three following columns means there were no trades => We fill NaN with 0

X_train['OTR'].fillna(0, inplace=True)
X_train['OCR'].fillna(0, inplace=True)
X_train['OMR'].fillna(0, inplace=True)

X_test['OTR'].fillna(0, inplace=True)
X_test['OCR'].fillna(0, inplace=True)
X_test['OMR'].fillna(0, inplace=True)

In [10]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86074 entries, 1 to 105782
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Share                       86074 non-null  object
 1   Day                         86074 non-null  object
 2   Trader                      86074 non-null  object
 3   OTR                         86074 non-null  float64
 4   OCR                         86074 non-null  float64
 5   OMR                         86074 non-null  float64
 6   min_time_two_events         86074 non-null  float64
 7   mean_time_two_events        86074 non-null  float64
 8   10_p_time_two_events        86074 non-null  float64
 9   med_time_two_events         86074 non-null  float64
 10  25_p_time_two_events        86074 non-null  float64
 11  75_p_time_two_events        86074 non-null  float64
 12  90_p_time_two_events        86074 non-null  float64
 13  max_time_two_events         86074 non-null  float64
 14  min_lifetime_cancel         86074 non-null  float64
 15  mean_lifetime_cancel        86074 non-null  float64
 16  10_p_lifetime_cancel        86074 non-null  float64
 17  med_lifetime_cancel         86074 non-null  float64
 18  25_p_lifetime_cancel        86074 non-null  float64
 19  75_p_lifetime_cancel        86074 non-null  float64
 20  90_p_lifetime_cancel        86074 non-null  float64
 21  max_lifetime_cancel         86074 non-null  float64
 22  NbTradeVenueMic             86074 non-null  int64
 23  MaxNbTradesBySecond         86074 non-null  int64
 24  MeanNbTradesBySecond        86074 non-null  float64
 25  min_dt_TV1                  81964 non-null  float64
 26  mean_dt_TV1                 81964 non-null  float64
 27  med_dt_TV1                  81964 non-null  float64
 28  min_dt_TV1_TV2              61302 non-null  float64
 29  mean_dt_TV1_TV2             61302 non-null  float64
 30  med_dt_TV1_TV2              61302 non-null  float64
 31  min_dt_TV1_TV3              61238 non-null  float64
 32  mean_dt_TV1_TV3             61238 non-null  float64
 33  med_dt_TV1_TV3              61238 non-null  float64
 34  min_dt_TV1_TV4              61352 non-null  float64
 35  mean_dt_TV1_TV4             61352 non-null  float64
 36  med_dt_TV1_TV4              61352 non-null  float64
 37  NbSecondWithAtLeatOneTrade  86074 non-null  int64
dtypes: float64(32), int64(3), object(3)
memory usage: 25.6+ MB

In [11]:
# We replace the NaN of Time delta between two trades with 86400 which is the number of seconds in a day
X_train.fillna(86400, inplace=True)
X_test.fillna(86400, inplace=True)

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86074 entries, 1 to 105782
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Share                       86074 non-null  object
 1   Day                         86074 non-null  object
 2   Trader                      86074 non-null  object
 3   OTR                         86074 non-null  float64
 4   OCR                         86074 non-null  float64
 5   OMR                         86074 non-null  float64
 6   min_time_two_events         86074 non-null  float64
 7   mean_time_two_events        86074 non-null  float64
 8   10_p_time_two_events        86074 non-null  float64
 9   med_time_two_events         86074 non-null  float64
 10  25_p_time_two_events        86074 non-null  float64
 11  75_p_time_two_events        86074 non-null  float64
 12  90_p_time_two_events        86074 non-null  float64
 13  max_time_two_events         86074 non-null  float64
 14  min_lifetime_cancel         86074 non-null  float64
 15  mean_lifetime_cancel        86074 non-null  float64
 16  10_p_lifetime_cancel        86074 non-null  float64
 17  med_lifetime_cancel         86074 non-null  float64
 18  25_p_lifetime_cancel        86074 non-null  float64
 19  75_p_lifetime_cancel        86074 non-null  float64
 20  90_p_lifetime_cancel        86074 non-null  float64
 21  max_lifetime_cancel         86074 non-null  float64
 22  NbTradeVenueMic             86074 non-null  int64
 23  MaxNbTradesBySecond         86074 non-null  int64
 24  MeanNbTradesBySecond        86074 non-null  float64
 25  min_dt_TV1                  86074 non-null  float64
 26  mean_dt_TV1                 86074 non-null  float64
 27  med_dt_TV1                  86074 non-null  float64
 28  min_dt_TV1_TV2              86074 non-null  float64
 29  mean_dt_TV1_TV2             86074 non-null  float64
 30  med_dt_TV1_TV2              86074 non-null  float64
 31  min_dt_TV1_TV3              86074 non-null  float64
 32  mean_dt_TV1_TV3             86074 non-null  float64
 33  med_dt_TV1_TV3              86074 non-null  float64
 34  min_dt_TV1_TV4              86074 non-null  float64
 35  mean_dt_TV1_TV4             86074 non-null  float64
 36  med_dt_TV1_TV4              86074 non-null  float64
 37  NbSecondWithAtLeatOneTrade  86074 non-null  int64
dtypes: float64(32), int64(3), object(3)
memory usage: 25.6+ MB

In [13]:
# We retrieve y_train in the right format
Xy_train = pd.merge(X_train, y_train, on='Trader')
y_train_formatted = Xy_train['type'].to_frame()

In [14]:
# We retrieve the 'Traders' column to keep trace of them for later
X_train_traders = X_train['Trader'].to_frame()
X_test_traders = X_test['Trader'].to_frame()
# Dropping the irrelevent columns
X_train.drop(columns=['Share', 'Day', 'Trader'], inplace=True)
X_test.drop(columns=['Share', 'Day', 'Trader'], inplace=True)

In [15]:
# Splitting the training set into train and test
X_tr, X_te, y_tr, y_te = train_test_split(X_train, y_train_formatted, test_size=0.7, random_state=42)

# Testing different models

In [16]:
# from sklearn.neighbors import KNeighborsClassifier

# model_knn = KNeighborsClassifier(n_neighbors=15).fit(X_tr, y_tr)
# preds_knn = model_knn.predict(X_te)
# print('KNN accuracy %s' % f1_score(preds_knn, y_te))

In [17]:
# from sklearn.ensemble import RandomForestClassifier

# model_rf = RandomForestClassifier().fit(X_tr, y_tr)
# preds_rf = model_rf.predict(X_te)
# print('Random Forest accuracy %s' % f1_score(preds_rf, y_te))

In [18]:
X_te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60252 entries, 4942 to 52482
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   OTR                         60252 non-null  float64
 1   OCR                         60252 non-null  float64
 2   OMR                         60252 non-null  float64
 3   min_time_two_events         60252 non-null  float64
 4   mean_time_two_events        60252 non-null  float64
 5   10_p_time_two_events        60252 non-null  float64
 6   med_time_two_events         60252 non-null  float64
 7   25_p_time_two_events        60252 non-null  float64
 8   75_p_time_two_events        60252 non-null  float64
 9   90_p_time_two_events        60252 non-null  float64
 10  max_time_two_events         60252 non-null  float64
 11  min_lifetime_cancel         60252 non-null  float64
 12  mean_lifetime_cancel        60252 non-null  float64
 13  10_p_lifetime_cancel        60252 non-null  float64
 14  med_lifetime_cancel         60252 non-null  float64
 15  25_p_lifetime_cancel        60252 non-null  float64
 16  75_p_lifetime_cancel        60252 non-null  float64
 17  90_p_lifetime_cancel        60252 non-null  float64
 18  max_lifetime_cancel         60252 non-null  float64
 19  NbTradeVenueMic             60252 non-null  int64
 20  MaxNbTradesBySecond         60252 non-null  int64
 21  MeanNbTradesBySecond        60252 non-null  float64
 22  min_dt_TV1                  60252 non-null  float64
 23  mean_dt_TV1                 60252 non-null  float64
 24  med_dt_TV1                  60252 non-null  float64
 25  min_dt_TV1_TV2              60252 non-null  float64
 26  mean_dt_TV1_TV2             60252 non-null  float64
 27  med_dt_TV1_TV2              60252 non-null  float64
 28  min_dt_TV1_TV3              60252 non-null  float64
 29  mean_dt_TV1_TV3             60252 non-null  float64
 30  med_dt_TV1_TV3              60252 non-null  float64
 31  min_dt_TV1_TV4              60252 non-null  float64
 32  mean_dt_TV1_TV4             60252 non-null  float64
 33  med_dt_TV1_TV4              60252 non-null  float64
 34  NbSecondWithAtLeatOneTrade  60252 non-null  int64
dtypes: float64(32), int64(3)
memory usage: 16.5 MB

In [19]:
from lightgbm import LGBMClassifier

model_lgbm = LGBMClassifier(boosting_type='dart', n_estimators=5000, learning_rate=0.1, max_depth=-1,
                       num_leaves=16, subsample=0.9, colsample_bytree=0.9, subsample_freq=1,
                       uniform_drop=True).fit(X_tr, y_tr)
preds_lgbm = model_lgbm.predict(X_te)
print('LightGBM accuracy %s' % f1_score(preds_lgbm, y_te, average='micro'))

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LightGBM accuracy 0.9800338577972515

In [20]:
# from xgboost import XGBClassifier

# model = XGBClassifier(booster='dart', n_estimators=1000, learning_rate=0.1, max_depth=5, subsample=0.9,
#                      colsample_bytree = 0.9)
# preds = model.fit(X_tr, y_tr).predict(X_te)
# print('XGBoost accuracy %s' % f1_score(preds, y_te))

# Retrieving final results

In [21]:
def predictions(traders, y_pred):

    res = pd.DataFrame(traders)
    res['pred'] = y_pred
    res['count'] = 1

    predictions = res.groupby(['Trader', 'pred']).count() / res.groupby(['Trader']).count()
    predictions = predictions.unstack(level=1).drop(columns=['pred']).fillna(0)
    predictions.columns = predictions.columns.get_level_values(1)
    
    return predictions

In [22]:
def final_classification(predictions):

    predictions.reset_index(inplace=True)
    predictions['type'] = 'NON HFT'
    
    for i in range(len(predictions)):
        if predictions.iloc[i]['HFT'] >= 0.85:
            predictions.at[i, 'type'] = 'HFT'
        elif predictions.iloc[i]['MIX'] > 0.5:
            predictions.at[i, 'type'] = 'MIX'
    predictions.drop(columns=['HFT','MIX','NON HFT'], inplace=True)
    
    return predictions

In [23]:
y_pred = model_lgbm.predict(X_test)

In [24]:
predictions = predictions(X_test_traders, y_pred)
predictions

pred                   HFT       MIX   NON HFT
Trader
Adelaide          0.000000  0.300000  0.700000
Alana             0.000000  0.000000  1.000000
Alcmene           0.125000  0.062500  0.812500
Alice             1.000000  0.000000  0.000000
Alices Sister     0.054645  0.125683  0.819672
...                    ...       ...       ...
Monstro           0.000000  1.000000  0.000000
Morgana           0.013369  0.967914  0.018717
The Doorknob      0.842105  0.131579  0.026316
The Doorman       0.978571  0.015238  0.006190
The Magic Mirror  0.001890  0.996692  0.001418

[85 rows x 3 columns]

In [25]:
final_res = final_classification(predictions)
final_res

pred            Trader     type
0             Adelaide  NON HFT
1                Alana  NON HFT
2              Alcmene  NON HFT
3                Alice      HFT
4        Alices Sister  NON HFT
..                 ...      ...
80             Monstro      MIX
81             Morgana      MIX
82        The Doorknob  NON HFT
83         The Doorman      HFT
84    The Magic Mirror      MIX

[85 rows x 2 columns]

In [26]:
final_res.to_csv('without_dup.csv', index=False)